* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-guc-spa.guc-spa.dix -text
/apertium-guc-spa.guc.dix -text
/apertium-guc-spa.spa-guc.lrx -text
/apertium-guc-spa.spa-guc.t1x -text
/apertium-guc-spa.spa-guc.t2x -text
/apertium-guc-spa.spa-guc.t3x -text
/apertium-guc-spa.spa.acx -text
/apertium-guc-spa.spa.dix -text
/autogen.sh -text
/configure.ac -text
dev/boreas.guc.txt -text
dev/boreas.spa.txt -text
dev/cuento.guc.1.txt -text
dev/cuento.guc.2.txt -text
dev/cuento.spa.txt -text
dev/dict.py -text
/modes.xml -text
/spa-guc.prob -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
