/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/spa-guc.autobil.bin
/spa-guc.autogen.bin
/spa-guc.autolex.bin
/spa-guc.automorf.bin
/spa-guc.mode
/spa-guc.t1x.bin
/spa-guc.t2x.bin
/spa-guc.t3x.bin
